body{
  margin:0;
  height:100vh;

}
nav {
  background-color:#FABC3C;
  color:#F55536;
  display:flex;
  justify-content: space-between;
  font-size: 3vh;
  font-weight:900;
  padding:1vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
  color:#F55536;
}
main{
  background-image:url('img/holder.jpg');
  background-size:contain;                  /* <------ */
  background-repeat:   no-repeat;
  margin:0;
  height:100%;
  opacity: 0.9
}

div{
  margin:0;
  padding-top:14vh;
}

p{
  margin:0;
  font-size:4vh;
  color:#804f00;
  background-color: rgba(245, 222, 179, 0.527);
  padding-left:2vw;  

}